<section *ngIf="flag; else elseBlock">
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let contact of contactList"></mat-list-item>
    </mat-list>
  </mat-card>
  <br/>
  <section>
    <button mat-raised-button color="primary" (click)="setFlag()">Add Contact</button>
  </section>
</section>

<ng-template #elseBlock>
  <form #form='ngForm' (submit)="saveContact()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Eg. John" type="text" required name="selectedContact.name" [(ngModel)]="selectedContact.name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="eg. 999999999" type="number" required name="selectedContact.phNum"
               [(ngModel)]="selectedContact.phNum">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" required name="selectedContact.email" [(ngModel)]="selectedContact.email">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" type="submit" mat-button color="primary">Save</button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</ng-template>
